<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeAcwqTkK_YZODcpqQ9WG4qAWAeuvb3OY</string>
	<key>GCM_SENDER_ID</key>
	<string>500338260208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diymax.beta</string>
	<key>PROJECT_ID</key>
	<string>fahad-c004a</string>
	<key>STORAGE_BUCKET</key>
	<string>fahad-c004a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500338260208:ios:dfe8a82ed206f2ff5b2a35</string>
	<key>DATABASE_URL</key>
	<string>https://fahad-c004a-default-rtdb.firebaseio.com</string>
</dict>
</plist>